body{

    background-color: black;
}
.name{
    position: left;
    width: 593px;
    height: 96px;
    left: 411px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
   
    color: #FFFFFF;
    text-align: center;
}
.EmailUsButton{
    position: center;
    color: black;
    text-align: center;
    align-items: center;
    align-self: center;
}
.Info{
    color: white;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}
.slogan{
    color: white;
    font-size: small;
    position: top;
    text-align: center;
}
